.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
/*  background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
/*  align-items: center;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* INFO: original */

h2 {
  position: relative;
  font-size: 40px;
  padding-top: 20px;
  font-family: serif;
}
h2 button {
  position: absolute;
  left: 20px;
  top: 25px;
}
.size-tiled {
  width: 30vw;
  padding-top: 0.6rem;
  margin: 1px;
}
.btn-lg {
  width: 100%;
}
.section {
  padding: 20px 10px;
}
.color-gray {
  color: #bbb;
}

/* INFO: original 2023 */

.cell {
  position: relative;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  cursor: default;
}
/*.cell:before {
  content: attr(data-number);
}*/
.cell.game-number10,
.cell.game-number20,
.cell.game-number30,
.cell.game-number40,
.cell.game-number50,
.cell.game-number60 {
/*  background-color: #ececec*/
/*  background-color: #ffebff; ちょいピンク*/
}
.cell.game-number30 {
/*  background-color: #cfcfcf;*/
}
.cell[data-is-banker-pair="true"]:before {
  content: '・';
  position: absolute;
  top: -5px;
  right: 0px;
  color: red;
  font-size: 24px;
}
.cell[data-is-player-pair="true"]:after {
  content: '・';
  position: absolute;
  bottom: -6px;
  right: -10px;
  color: blue;
  font-size: 24px;
}
/* x: */
        .cell[data-is-natural="true"] {
/*          background-color: #ffe6ba; 金色*/
          background-color: rgb(126 126 126 / 20%);
        }
        .cell.is-natural:after {
        /*  content: 'N';*/
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          font-size: 10px;
          width: 100%;
          height: 100%;
        /*  background-color: rgb(255 161 0 / 23%);*/
          background-color: rgb(126 126 126 / 20%);
        }
.shoe-group {
  position: relative;
  overflow: hidden;
}
.scoreboard {
  float: left;
  width: 650px;
}
.graph-counting {
  float: left;
  margin-left: 20px;
  background-color: #fafafa;
}
.graph-amount {
  float: left;
  margin-left: 20px;
  background-color: #fafafa;
}
.float {
  float: left;
}
hr {
  clear: both;
}